In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', None)

In [2]:
disability_county = pd.read_csv('../data/raw_data/FY_2020_Disability_Compensation_Recipients_by_County.csv')

In [3]:
disability_county.isna().sum()

FIPS code                                     44
State                                          0
County Name                                    0
Total: Disability Compensation Recipients     44
SCD rating: 0% to 20%                        155
SCD rating: 30% to 40%                       320
SCD rating: 50% to 60%                       348
SCD rating: 70% to 90%                       210
SCD rating: 100%                             335
Age: 17-44                                   276
Age: 45-64                                   273
Age: 65 or older                              75
Male                                         655
Female                                       655
dtype: int64

In [4]:
disability_county.head()

,FIPS code,State,County Name,Total: Disability Compensation Recipients,SCD rating: 0% to 20%,SCD rating: 30% to 40%,SCD rating: 50% to 60%,SCD rating: 70% to 90%,SCD rating: 100%,Age: 17-44,Age: 45-64,Age: 65 or older,Male,Female
0,1001.0,Alabama,Autauga,2000.0,435.0,270.0,278.0,623.0,394.0,466.0,957.0,576.0,1687.0,313.0
1,1003.0,Alabama,Baldwin,5073.0,1524.0,774.0,772.0,1199.0,804.0,936.0,1553.0,2584.0,4648.0,425.0
2,1005.0,Alabama,Barbour,605.0,111.0,75.0,110.0,186.0,123.0,97.0,242.0,266.0,537.0,68.0
3,1007.0,Alabama,Bibb,278.0,61.0,47.0,38.0,81.0,51.0,56.0,95.0,127.0,252.0,26.0
4,1009.0,Alabama,Blount,771.0,201.0,122.0,119.0,205.0,124.0,159.0,217.0,395.0,724.0,47.0

In [5]:
disability_county = disability_county[disability_county['FIPS code'].isna() == False] 
disability_county = disability_county[disability_county['Total: Disability Compensation Recipients'].isna() == False]

In [6]:
disability_county[disability_county['SCD rating: 0% to 20%'].isna() == True].head()

,FIPS code,State,County Name,Total: Disability Compensation Recipients,SCD rating: 0% to 20%,SCD rating: 30% to 40%,SCD rating: 50% to 60%,SCD rating: 70% to 90%,SCD rating: 100%,Age: 17-44,Age: 45-64,Age: 65 or older,Male,Female
72,2060.0,Alaska,Bristol Bay,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,2164.0,Alaska,Lake And Peninsula,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN
91,2230.0,Alaska,Skagway,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
172,5117.0,Arkansas,Prairie,105.0,NaN,NaN,22.0,38.0,20.0,17.0,25.0,63.0,NaN,NaN
191,6003.0,California,Alpine,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
health_spending = pd.read_excel('../data/raw_data/GDX_FY20.xlsx')
health_spending.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 11 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   State                                              54 non-null     object
 1   Veteran Population*                                54 non-null     float64
 2   Total Expenditure                                  54 non-null     float64
 3   Compensation & Pension                             54 non-null     float64
 4   Construction                                       54 non-null     float64
 5   Education & Vocational Rehabilitation/ Employment  54 non-null     float64
 6   Loan Guaranty#                                     54 non-null     float64
 7   General Operating Expenses                         54 non-null     float64
 8   Insurance & Indemnities                            54 non-null     float64
 9   Medical Care                                       54 non-null     float64
 10  Unique Patients **                                 54 non-null     int64
dtypes: float64(9), int64(1), object(1)
memory usage: 4.8+ KB

In [8]:
health_spending = health_spending[['State', 'Veteran Population*', 'Unique Patients **', 'Medical Care']].head(52)
health_spending.columns = ['state', 'total_veterans', 'vets_using_va_healthcare', 'medical_expenditure_thousands']

In [9]:
health_spending.head()

,state,total_veterans,vets_using_va_healthcare,medical_expenditure_thousands
0,United States,1.946570e+07,6108277,8.680791e+07
1,Alabama,3.629009e+05,115440,1.445770e+06
2,Alaska,6.938363e+04,21685,4.175775e+05
3,Arizona,5.044514e+05,163613,2.308161e+06
4,Arkansas,2.025173e+05,83510,1.208500e+06

In [10]:
health_spending.to_csv('../data/health_spending.csv', index=False)